protobuf==2.5.0
bitstring
pyserial
gprof2dot
https://github.com/project-capo/amber-python-common/zipball/master
https://github.com/project-capo/amber-python-clients/archive/master.zip#egg=amber-python-clients
mock
