protobuf==2.5.0
bitstring
pyserial
gprof2dot
-e git+https://github.com/project-capo/amber-python-common#amber-python-common
-e git+https://github.com/project-capo/amber-python-clients#amber-python-clients
mock
