protobuf==2.5.0
bitstring
pyserial
gprof2dot
-e git://github.com/project-capo/amber-python-common.git#egg=amber-python-common
https://github.com/project-capo/amber-python-clients/archive/master.zip#egg=amber-python-clients
mock
